.h2 {
  height: 42px;
  color: var(--titleColor--);
  text-align: center;
  margin-bottom: 40px;
}

.business__list {
  display: flex;
  justify-content: space-between;
}

.business__list {
  & > li:not(:last-child) {
    margin-right: 30px;
  }
}

.business__image {
  position: relative;
}

.business__wrapper {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 1.14;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 4px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white--);
}
