.client {
  padding-bottom: 94px;
}
.client-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.client__list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
}
.client__item {
  margin-right: calc(1 * 30px);
  margin-bottom: calc(1 * 30px);
  // margin-right: 30px;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--socialLink--);
  &:hover,
  &:focus {
    border: 1px solid var(--brendColor--);
  }
}
.client__icons {
  fill: var(--socialLink--);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transition-property: border, color;
    fill: var(--brendColor--);
  }
}
