.footer {
  background-color: var(--footerColor--);
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white--);
  padding: 60px 0;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  & .conteiner {
    /* align-items: baseline; */
    // display: flex;
    /* justify-content: flex-start; */
  }
}
.footer-box {
  text-align: center;
}
.footer__adress {
  align-items: center;
  margin-bottom: 60px;
}
.footer__logo {
  color: var(--white--);
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.footer__address-item {
  margin-top: 20px;
  & address {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    // text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}
.footer__contact-item {
  margin-top: 9px;
}
.footer__social {
  margin-bottom: 60px;
}
.footer__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--white--);
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.team .social-link {
  fill: var(--socialLink--);
}
.footer .social-link {
  fill: white;
}
.team .social-link:hover,
.team .social-link:focus {
  fill: var(--white--);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--brendColor--);
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}

/* Подписывайтеся */
.footer__form {
  // margin-left: 93px;
}
.footer__join-title {
  text-transform: uppercase;
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.14;
  color: var(--white--);
}
.footer__join-box {
  // display: flex;
}
.footer__join-input {
  // display: flex;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  // width: 358px;
  // height: 50px;
  padding: 15px 16px;
  margin-top: 20px;
  // margin-right: 12px;
  color: var(--socialLink--);
  background: var(--footerColor--);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer__join-button {
  justify-content: center;
  margin-top: 20px;
}
// .footer__join-button {
//   @extend %button
// // border-radius: 4px;
  // align-items: center;
  // position: relative;
  // fill: #ffffff;
  // margin-left: 12px;
  // font-style: normal;
  // font-weight: bold;
  // font-size: 16px;
  // border-color: transparent;
  // cursor: pointer;
  // display: block;

  // background-color: var(--brendColor--);
  // color: var(--white--);
  // border: none;
  // padding: 10px 32px;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
}
.footer__join-button:hover {
  background-color: var(--white--);
  color: var(--titleColor--);
  cursor: pointer;
}

.footer__join-icon {
  // position: absolute;
  // bottom: 30%;
  // right: 5%;
  // padding-left: 0;
  fill: currentColor;
  align-items: center;
  // &:hover {
  //   transition-property: border, color;
  //   fill: var(--titleColor--);
  // }
}
