.hero {
  background-color: var(--footerColor--);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 480px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/Header-m.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/Header-m-2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/Header-t.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/Header-t-2x.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/Header-d.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/Header-d-2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  text-transform: uppercase;
  width: 360px;
  text-align: center;
  color: var(--white--);
  margin-left: auto;
  margin-right: auto;
  // margin-bottom: 28px;
  //   @media screen and (min-width: 480px) {
  font-size: 26px;
  line-height: 42px;

  @media screen and (min-width: 1200px) {
    width: 600px;
    font-size: 44px;
  }
}

.button {
  @extend %button
  // display: block;
//   margin: 0 auto;
//   background-color: var(--brendColor--);
//   color: var(--white--);
//   border: none;
//   padding: 10px 32px;
//   &:hover {
//     background-color: var(--white--);
//     color: var(--titleColor--);
//     cursor: pointer;
//   };;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
}
