.team {
  background-color: var(--sectionColor--);
}
.team-h2 {
  color: var(--titleColor--);
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 40px;
  }
}

.team__h3 {
  height: 19px;
  color: var(--titleColor--);
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
  }
}

.team__list {
  // display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  background-color: var(--white--);
  width: 100%;
  margin-bottom: 30px;
  flex-basis: calc((100% / 3-30px) / 1);
  // margin-right: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100%-2 * 30px) / 2);
    // margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100%-4 * 30px) / 4);
  }
}

.team__text {
  text-align: center;
  margin-top: 10px;
}

.team__social-list {
  // margin: 16px 32px 30px 32px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.team-soсial {
  margin-top: 16px;
  margin-bottom: 30px;
  justify-content: center;
}
