.team {
  background-color: var(--sectionColor--);
}
.team__title {
  color: var(--titleColor--);
  text-align: center;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  line-height: 1.17;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 40px;
  }
}

.team__list {
  // display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--white--);
  // width: 450px;
  margin-bottom: 30px;
  // margin-right: 15px;
  // margin-left: 15px;
  // flex-basis: calc((100% / 3-30px) / 1);
  // margin-right: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100%-2 * 30px) / 2);
    // margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100%-4 * 30px) / 4);
  }
}
.team__h3 {
  height: 19px;
  color: var(--titleColor--);
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
  }
}

.team__text {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
}
.team-soсial {
  margin-top: 16px;
  margin-bottom: 30px;
  justify-content: center;
}
.team .social-link {
  fill: var(--socialLink--);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team .social-link:hover,
.team .social-link:focus {
  fill: var(--white--);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--brendColor--);
}
// .team__social-list {
//   &:not(:last-child) {
//     margin-right: 10px;
//   }
// }
// .team-soсial {
//   margin-top: 16px;
//   margin-bottom: 30px;
//   justify-content: center;
// }
