:root {
  --brendColor--: #2196f3;
  --titleColor--: #212121;
  --textColor--: #757575;
  --sectionColor--: #f5f4fa;
  --white--: #ffffff;
  --footerColor--: #2f303a;
  --socialLink--: #afb1b8;
  --bazier--: cubic-bezier(0.4, 0, 0.2, 1);
  --time-hover--: 250ms;
}
